<div class="container d-flex align-items-center">
    <div class="row mt-4">
        <div class="col-md-5 about-us ">
            <img class="arch w-80" src="assets/images/media.jpg" alt="We are in Media">
        </div>
        <div class="col-md-7 society">
            <div class="row font-libra-serif-modern highlighted_color display-4">
                <p>We are in Media</p>
            </div>
            <section class="content-section content">
                <p>Young Political Society was invited to Radio Pieci.Iv.</p>
                <p>We talked about our great project the Future Heroes of Latvia.</p>
                <p>We discussed the main goals of our organisation "YPS":</p>
                <ul class="list-unstyled">
                    <li>to increase the interest of young
                        people in politics;</li>
                    <li>strengthen the democratic environment
                        in Latvia</li>
                    <li>involve young people to actively
                        participate in the future of their country</li>
                    <li>increase the level of patriotism to Latvia
                        of young people</li>
                    <li>we have been pro-voting since the age of 16!
                    </li>
                </ul>
            </section>
        </div>
        <div class="row mt-3">
            <div class="col-md-4">
                <div class="row">
                    <img src="assets/images/main-goal.jpg" alt="main goal">
                </div>
                <div class="row">
                    <div class="row font-libra-serif-modern title highlighted_color">
                        <p>"Youth's voice in politics - force for change!"</p>
                    </div>
                    <section class="content-section p-0 content">
                        <p>Our aim is to create a political
                            movement that will encourage the government of Latvia to give teenagers
                            a voice to participate in decision-making on a governmental level.
                        </p>
                    </section>
                </div>
            </div>
            <div class="col-md-8 mb-1">
                <img class="w-100" src="assets/images/third-workshop-organizers.jpg" alt="workshoporganizers">
            </div>
        </div>
    </div>
</div>