<!-- header -->
<header>
    <div class="navbar bg-secondary p-5">
        <!-- logo -->
        <div class="navbar-brand row m-1 ">
            <a class="navbar-item text-light col-sm" routerLink="/" routerLinkActive="active">
                Youth Political Society
            </a>
            <a class="navbar-item text-light col-sm" routerLink="/future-heroes" routerLinkActive="active">
                Future Heroes Latvia
            </a>
            <a class="navbar-item text-light col-sm" routerLink="/main-goal" routerLinkActive="active">
                The main goal of “YPS”
            </a>
            <a class="navbar-item text-light col-sm" routerLink="/workshops" routerLinkActive="active">
                Workshops
            </a>
            <a class="navbar-item text-light col-sm" routerLink="/speakers" routerLinkActive="active">
                Speakers of our workshops
            </a>
            <a class="navbar-item text-light col-sm" routerLink="/media" routerLinkActive="active">
                We are in Media
            </a>
            <a class="navbar-item text-light col-sm" routerLink="/voting16" routerLinkActive="active">
                Voting 16
            </a>
            <a class="navbar-item text-light col-sm" routerLink="/quiz" routerLinkActive="active">
                Quiz for practicingin Politics
            </a>
        </div>
    </div>
</header>