<footer class="footer d-flex">
    <div class="row w-100 justify-content-evenly ">
        <div class="col-md-4 font-libra-serif-modern ">
            <p class="font-libra-serif-modern highlighted_color display-3">CONTACT US:</p>
            <section class="content-section content font-zantiqa ">
                <p class="mb-0">INSTAGRAM
                </p>
                <a href="https://www.instagram.com/yps_latvia/" class="blink text-decoration-none   ">yps_latvia</a>
                <p class="mb-0 mt-2">TIK TOK
                </p>
                <a href="https://www.tiktok.com/@yps_latvia" class="blink text-decoration-none blink">yps_latvia</a>
                <p class="mb-0 mt-2">FACEBOOK
                </p>
                <a href="https://www.facebook.com/profile.php?id=61553690601133"
                    class="blink text-decoration-none blink">Youth Political Society</a>
                <p class="mb-0 mt-2">E-MAIL
                </p>
                <a>Youthpoliticalsociety&#64;gmail.com</a>
            </section>
        </div>
        <div class="col-md-4 text-center">
            <img src="assets/images/yps-footer.jpg" alt="main goal" class="w-75">
        </div>
    </div>

</footer>