<div class="container d-flex align-items-center">
    <div class="row">
        <div class="row mt-4">
            <div class="col-md-4 mt-4">
                <img class=" w-100" src="assets/images/vote-16.jpg" alt="first workshop presentation"
                    class="arch w-100">
            </div>
            <div class="col-md-8 content">
                <p class="font-libra-serif-modern highlighted_color display-3">WE SUPPORT VOTE 16</p>
                <section class="content-section">
                    <p>Our Youth Political Society supports lowering the voting age.
                        The democracy of our society becomes stronger if we include youth in it! Young generation have
                        experiences and perspectives that are really valuable to our society.
                    </p>
                    <p>Despite the fact that young people under 18 are active members of society, entering the workforce
                        and
                        paying taxes, they are excluded from the possibility to vote.
                    </p>
                    <p>Thus, young people have very little say in the laws and policies that affect their lives. Now is
                        the
                        time to bridge the gap between young people and our elected politicians.
                    </p>
                    <p>We support voting at the age of 16! The opinion of young generation must be taken into account.
                        This
                        must become a reality for all young Europeans!
                    </p>
                </section>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-5">
                <img src="https://media.canva.com/1/image-resize/1/642_563_92_JPG_F/czM6Ly9tZWRpYS1wcml2YXRlLmNhbnZhLmNvbS84OEhIRS9NQUZfZXg4OEhIRS8xL3AuanBn?osig=AAAAAAAAAAAAAAAAAAAAAIu666GrVKA-y7EtRDoDJs2wkZTN_nX8PvqolTZrZijR&exp=1710761581&x-canva-quality=screen_3x&csig=AAAAAAAAAAAAAAAAAAAAAKfHykchTCCG-CZsLW8un5FyYqPrsed_2a1d3qVVSoEE"
                    alt="" class="w-100">
            </div>
            <div class="col-md-7 content">
                <p class="font-libra-serif-modern highlighted_color display-4">Cooperation with Latvijas Jaunatnes
                    padome LJP</p>
                <section class="content-section">
                    <p>Youth Political Society started cooperation with Latvijas Jaunatnes padome.
                    </p>
                    <p>Latvijas Jaunatnes padome is the largest youth energy network in Latvia. It is an organization
                        created in 1992 that includes and supports 42 youth organizations from Latvia and contributes to
                        the creation of a youth-friendly and civically responsible environment in Latvia.
                    </p>
                    <p>One of the goals of LJP is also supporting voting 16.
                        We are grateful LJP for supporting us.
                    </p>
                </section>
            </div>
        </div>
    </div>
</div>