<div class="container p-5">
    <div class="row justify-content-center">
        <div class="col-sm-8 ">
            @if (currentQuiz<quizzes.length) { <p class="text-center">{{currentQuiz+1}} of {{quizzes.length}}</p>

                <h1>{{ quizzes[currentQuiz].question }}</h1>

                <ul class="list-group">
                    @for (quiz of quizzes[currentQuiz].answer; track quiz) {

                    <label>
                        <li class="list-group-item" appQuizBackground [correctAnswer]="quiz.correct">
                            <input type="radio" name="options" (change)="onAswer(quiz.correct)"
                                [disabled]="answerSelected">
                            {{quiz.option}}
                        </li>
                    </label>

                    }
                </ul>
                }
                @if (currentQuiz>quizzes.length-1) {
                <button class="btn btn-success w-100" (click)="showResult()">Show Result</button>
                @if (result) {
                <div class="text-center p-4">
                    Correct Answers: {{correctAnswers}} | Incorect Answers:{{incorrectAnswers}}
                </div>
                }
                }
        </div>
    </div>
</div>