<div class="container d-flex align-items-center">
    <div class="row mt-4">
        <div class="col-md-5 society">
            <div class="row font-lumberjack highlighted_color display-5">
                <p>About</p>
                <p>Future Heroes Latvia</p>
            </div>
            <section class="content-section content">
                <p>Future Heroes is a growth mindset-driven leadership & entrepreneurship program
                    for girls aged 14-17 to unlock their potential and create positive impact in the world.
                </p>
                <p>We had a great opportunity to start our own project, to meet inspirational people, to
                    participate in public speaking, to meet new friends!
                </p>
                <p>We received the best knowledges about leadership skills and businesses. Future heroes program
                    really helps to become your own hero and become better version of yourself!
                </p>
            </section>
        </div>
        <div class="col-md-7 about-us ">
            <img class="arch w-80" src="assets/images/future-heroes.jpg" alt="Future Heroes Latvia">
        </div>
    </div>
</div>