<div class="text-center mt-4 mb-3">
    <pre>
    Future Heroes is a growth mindset-driven leadership & entrepreneurship program for girls 
    aged 14-17 to unlock their potential and create positive impact in the world.
    It is a sisterhood without borders!
    It's literally the time and place to become a hero.

    We had a great opportunity to start our own project, to meet inspirational people, to 
    participate in public speaking, to meet new friends!
    We received the best knowledges about leadership skills and businesses. 

    Future heroes program really helps to become your own hero and become better version of yourself!

    We are very grateful to amazing program “Future Hero’s Latvia” 

    It is really a great honour for us to be a part of this amazing project!
    </pre>
    <img class="future-heroes-img mx-auto d-block" src="/assets/images/future-heroes.jpg" alt="future heroes">
</div>