<div class="text-center mt-4 mb-3">
    <pre>
        We are 5 girls under the program Future Heroes Latvia who create Youth Political Society for increasing the interest
        young people in politics.

        The main goal of our organisation “YPS” is to involve young people to actively participate in the future of their
        country, and increase youth voter participation. We are supporting lowering voting age!

        Our “Youth Political Society” is a dynamic and vibrant organisation decided to empowering young minds in the realm
        of politics. Committed to fostering open and informal discussions, this teenage-led group provides a platform where
        young individuals can engage in meaningful conversations about political issues that matter to them.
        Through a series of interactive talks, workshops and events, the organisation aims to inform, educate and inspire
        the next generation of leaders.
    </pre>
    <img class="youth-political-img mx-auto d-block" src="/assets/images/youth-political-team.jpg"
        alt="youth political team">
</div>