<div class="container d-flex align-items-center">
    <div class="row">
        <section class="row content-section">
            <img class="col-2 img-fluid proportional align-self-center h-auto"
                src="assets/images/future-heroes-logo.jpg" alt="future heroes logo">
            <h1 class="col-10  highlighted_color text-end display-1 font-merriweather">
                YOUTH POLITICAL SOCIETY
            </h1>
        </section>
        <div class="row my-3">
            <div class="col-md-10 text-center font-lumberjack quotation">
                <section class="content-section ">
                    <p>“YOUNG PEOPLE HAVE THE POWER TO CHANGE THE WORLD;</p>
                    <p>THEY JUST NEED THE OPPORTUNITY
                        TO DO SO.”</p>
                    <p>Malala Yousafzai</p>
                </section>
            </div>
            <h2 class="col-md-2 highlighted_color">About Us</h2>
        </div>
        <div class="row">
            <div class="col-md-8 about-us">
                <img src="assets/images/youth-political-team.jpg" alt="Future Heroes Latvia">
            </div>
            <div class="col-md-4 society">
                <section class="content-section">
                    <p>We are 5 girls under the program Future Heroes Latvia who create Youth Political Society for
                        increasing the interest of young people in politics.
                    </p>
                    <p>Our "Youth Political Society" is a dynamic organisation decided to empowering young minds in the
                        realm of politics. Committed to fostering open and informal discussions, this teenage-led group
                        provides a platform where young individuals can engage in meaningful conversations about
                        political
                        issues that matter to them.</p>
                    <p>Through a series of interactive talks, workshops and events, the organisation aims to involve
                        young
                        people actively participate in the future of their country, and increase youth voter
                        participation.
                    </p>
                </section>
            </div>
        </div>
    </div>
</div>