<div class="container ">
    <div class="row ">
        <div class="col-md-6">
            <img class="w-100 main-goal-img mx-auto d-block" src="assets/images/Dace-Melbārde.jpg" alt="Dace Melbārde">
        </div>
        <div class="col-md-6 ">
            <section class="content-section p-0 content">
                <p class="font-libra-serif-modern highlighted_color display-5">AN INTERVIEW WITH EUROPEAN
                    PARLIAMENT DEPUTY
                    DACE MELBĀRDE.</p>
                <p>Dace Melbārde - member of the European Parliament from Latvia since 2019. Dace Melbārde is a Latvian
                    cultural worker, politician, member of the European Parliament, member of the association "Jaună
                    "Unity" (before the National Union).
                </p>
                <p>Director of the National Culture Center of Latvia, Minister of Culture of Latvia in five governments
                    and deputy of the Saeima. we had a con about the involvement in politics of young people and giving
                    the voting rights from 16 y.
                </p>
            </section>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-6">
            <img class="w-100 main-goal-img mx-auto d-block" src="assets/images/Harijs-Rokpelnis.jpg"
                alt="Harijs Rokpelnis">
        </div>
        <div class="col-md-6 ">
            <section class="content-section p-0 content">
                <p class="font-libra-serif-modern highlighted_color display-5">INTERVIEW WITH HARIJS ROKPELNIS IN
                    THE SEJM.
                </p>
                <p>youth political society visited the Seimas and interviewed Harijs Rokpelnis.
                </p>
                <p>Harijs Rokpelnis is a member of the 14th Saeima, representing the Latvian Farmers' Union and the
                    Greens and Farmers' Union.
                </p>
                <p>In the interview, we discussed lowering the voting age and how to increase youth interest and
                    involvement in politics.
                </p>
                <p>Harijs Rokpelnis invited us to take part in the youth activities of the Seimas.
                </p>
            </section>
        </div>
        <app-speaker-info></app-speaker-info>
    </div>
</div>