<div class="text-center mt-4 mb-3 ">
    <ul class="mx-auto list-unstyled">
        <li>to increase the interest of young people in politics</li>
        <li>Increase youth voter participation</li>
        <li>strengthen the democratic environment in Latvia,</li>
        <li>Encourage young people globally to participate in democratic processes</li>
        <li>involve young people to actively participate in the future of their country Register to vote and make
            informed
            decisions about their political future</li>
        <li>increase the level of patriotism to Latvia of young people.</li>
        <li>Lowering voting 🗳 age!</li>
        <li>Encourage young people globally to participate in democratic processes</li>
        <li>Encourage young people globally to participate in democratic processes</li>
    </ul>
    <p class="bold">
        we have been pro-voting since the age of 16!
    </p>
    <img class="youth-political-img mx-auto d-block" src="/assets/images/youth-political-team.jpg"
        alt="youth political team">
</div>