<div class="container d-flex align-items-center">
    <div class="row mt-4">
        <div class="col mt-4">
            <p class="font-libra-serif-modern highlighted_color display-5">Our Workshops</p>
            <img class=" w-100" src="assets/images/second-workshop-presentation.jpg" alt="first workshop presentation">
            <section class="content-section">
                At our meetings during informal learning, young people learned a lot of interesting information about
                politics, democracy, and elections to the European Parliament. With each meeting, we saw how young
                people’s interest in politics grew.
            </section>
        </div>
        <div class="col mt-4">
            <img class=" w-100 mb-3" src="assets/images/second-workshop-members.jpg" alt="second workshop members">
            <img class=" w-100" src="assets/images/first-workshop-presentation.jpg" alt="second workshop members">
        </div>
        <div class="col-md-4 mt-4 font-libra-serif-modern content">
            <section class="content-section">At our meetings there were speakers who were specialists in the field
                of Politics and
                International Relations, such as members of the European Parliament, US Congress Woman, deputies of
                the Youth Seimas of Latvia, advisors of the United Nations, students of Columbia University and the
                University of Maine.
            </section>
            <img class="w-100" src="assets/images/third-workshop-present.jpg" alt="third workshop present">
            <section class="content-section">
                We saw that with each meeting we were moving towards our goal, we saw how young people participate in
                discussions and ask interesting questions.
            </section>
        </div>
        <div class="row mt-5">
            <p class="font-libra-serif-modern highlighted_color display-4">First Workshop</p>
            <div class="col-md-7">
                <img class="w-100" src="assets/images/first-workshop-members.jpg" alt="first workshop members">
            </div>
            <div class="col-md-5 font-libra-serif-modern">
                <section class="content-section p-0 content">
                    <p>A small recap from our first meeting
                        The participants got knowledge on political culture, western political Ideology and forms of
                        government, contemporary democratic liberalism, levels of politics, political mobilisation
                        and engagement
                    </p>
                    <p>Had an informal discussion about voting age, direct&indirect democracy and biggest political
                        issues.
                    </p>
                    <p>Got tested on their knowledge and the 1st place winner got a book from our sponsor Janis Roze
                        „Politika lesācejiem".
                    </p>
                    <p>Thanks to our 1st speaker Eric Payerle. Also thanks to our 2nd speaker Natasha Wood for
                        providing an inspirational.
                    </p>
                </section>
            </div>
        </div>
        <div class="row mt-5">
            <p class="font-libra-serif-modern highlighted_color display-4">Second Workshop</p>
            <div class="col-md-7">
                <img class="w-100" src="assets/images/second-workshop-members.jpg" alt="second workshop members">
            </div>
            <div class="col-md-5 font-libra-serif-modern">
                <section class="content-section p-0 content">
                    <p>Grateful for the enriching experience at the Ireland Embassy event on 29.01.2024! More than 20
                        teenagers from different schools and gymnasiums came to listen to our speakers and take part in
                        the discussion of important topics of Youth Political Society .
                    </p>
                    <ul class="list-unstyled">
                        <p>Participants gained comprehensive insights into :</p>
                        <li>election structures,</li>
                        <li>effective climate policy,
                        </li>
                        <li>public speech,</li>
                        <li>politics teaching in school system,</li>
                        <li>informal political talks for teenagers </li>
                        <li>discussions on voting age.</li>
                    </ul>
                    <p>Special thanks to the three distinguished speakers Eric Payerle, Anastasija Baranova and Keegan
                        Farrington for their thought-provoking perspectives.
                    </p>
                </section>
            </div>
        </div>
        <div class="row mt-5">
            <p class="font-libra-serif-modern highlighted_color display-4">Third Workshop</p>
            <div class="col-md-7">
                <img class="w-100" src="assets/images/third-workshop-members.jpg" alt="third workshop members">
            </div>
            <div class="col-md-5 font-libra-serif-modern">
                <section class="content-section p-0 content">
                    <p>Grateful for the enriching experience at the SEB Inovaciju centrs on 29.02.2024!
                        We discussed many important and interesting topics in our third Workshop:
                    </p>
                    <ul class="list-unstyled">
                        <li>How to improve understanding of society and youth political processes?
                        </li>
                        <li>Should young people be allowed to vote in elections from the age of 16?
                        </li>
                        <li>How to ensure a policy of generational change?
                        </li>
                        <li>politics teaching in school system,</li>
                        <li>informal political talks for teenagers </li>
                        <li>discussions on voting age.</li>
                    </ul>
                    <p>We want to express our gratitude to our Speakers тор Harijs Rokpelnis, Otto Tabuns, Kristine
                        Grinberga, Amanda Cuhnova, Alan Baguzin, Maksims Lodins.
                        Three the most active participants in our Workshop received gifts
                        from our sponsor BaltsPaperGoods
                    </p>
                    <p>Our Workshop participants were treated to delicious pizza
                        from our sponsors Cili Pizza and sweet treats from SKRIVERU.
                    </p>
                </section>
            </div>
        </div>
    </div>
</div>